<VirtualHost *:80>

	ServerName SITE_HOSTNAME
	ServerAlias www.SITE_HOSTNAME

	DocumentRoot /var/www/html/

	ProxyRequests Off
	ProxyPreserveHost On

	ProxyPass /admin/event ws://exp:1337/admin/event
	ProxyPassReverse /admin/event ws://exp:1337/admin/event
	ProxyPass / http://exp:1337/
	ProxyPassReverse / http://exp:1337/


	RewriteEngine on
	RewriteCond %{HTTP_HOST} !^SITE_HOSTNAME_ESCAPED$
	RewriteCond %{HTTP_HOST} !^$
	RewriteRule ^/(.*) http://SITE_HOSTNAME/$1 [L,R]

</VirtualHost>
